@define-color foreground #ac8d6e;
@define-color background #242e32;
@define-color background-trans rgba(36,46,50,0.7);
@define-color cursor #c4c4b5;

@define-color color0 #242e32;
@define-color color1 #a66959;
@define-color color2 #769070;
@define-color color3 #ac8d6e;
@define-color color4 #607a86;
@define-color color5 #8a757e;
@define-color color6 #60867f;
@define-color color7 #c4c4b5;
@define-color color8 #35444b;
@define-color color9 #a66959;
@define-color color10 #769070;
@define-color color11 #ac8d6e;
@define-color color12 #607a86;
@define-color color13 #8a757e;
@define-color color14 #60867f;
@define-color color15 #c4c4b5;
