files
.dot
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.dot
.gitconfig
.gnupg
.lesshst
.local
ly-session.log
.nv
.pki
.ssh
.config/dconf
.config/gh
.config/go
.config/google-chrome
.config/mimeapps.list
.config/pavucontrol.ini
.config/pulse
.config/session
.config/systemd
.config/dconf
.config/xsettingsd
.config/htop
.config/nwg-look
.config/user-dirs.dirs
.config/user-dirs.locale
