@import "/home/naadamki/.cache/wal/colors-waybar.css";

* {
	border: none;
	font-family: Inconsolata;
	font-size: 16px;
	font-weight: 500;
	min-height: 5px;
}

window#waybar {
	background-color: rgba(30, 30, 30, 0.6);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 5px 10px;
	color: #ffffff;

}

/*.modules-left,
.modules-right  {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;

	background: #fbf1c7;
	color: #000000;

	border: 2px solid transparent;

	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

}*/

#workspaces button {
	padding: 5px 20px;
}

#workspaces button.focused {
	color: #ffffff;
}

#workspaces button.focused:hover {
	
}

#workspaces button:hover {

}





#keyboard-state,
#network,
#pulseaudio,
#clock,
#system,
#disk,
#memory,
#cpu,
#network {
	padding: 0 8px;
	margin: 0 3px;
	color: #ffffff;
}
