@define-color foreground #ffffff;
@define-color background #000000;
@define-color background-trans rgba(0,0,0,0.7);
@define-color cursor #ff3a78;

@define-color color0 #303030;
@define-color color1 #c03000;
@define-color color2 #b1d631;
@define-color color3 #fecf35;
@define-color color4 #426870;
@define-color color5 #6d506d;
@define-color color6 #4bb5c1;
@define-color color7 #e2e2e5;
@define-color color8 #5f5f5f;
@define-color color9 #c03000;
@define-color color10 #b1d631;
@define-color color11 #fecf35;
@define-color color12 #426870;
@define-color color13 #6d506d;
@define-color color14 #4bb5c1;
@define-color color15 #e2e2e5;
