@define-color foreground #aa9375;
@define-color background #2b2320;
@define-color background-trans rgba(43,35,32,1.0);
@define-color cursor #2e2522;

@define-color color0 #2b2320;
@define-color color1 #734948;
@define-color color2 #768157;
@define-color color3 #aa9375;
@define-color color4 #585b63;
@define-color color5 #6f5a56;
@define-color color6 #7d8486;
@define-color color7 #bab1a1;
@define-color color8 #bab1a1;
@define-color color9 #734948;
@define-color color10 #768157;
@define-color color11 #aa9375;
@define-color color12 #585b63;
@define-color color13 #6f5a56;
@define-color color14 #7d8486;
@define-color color15 #bab1a1;
