@define-color foreground #8d8150;
@define-color background #242a2b;
@define-color background-trans rgba(36,42,43,0.7);
@define-color cursor #242b2c;

@define-color color0 #242a2b;
@define-color color1 #674839;
@define-color color2 #6e794f;
@define-color color3 #8d8150;
@define-color color4 #3b474e;
@define-color color5 #554c41;
@define-color color6 #495355;
@define-color color7 #939381;
@define-color color8 #939381;
@define-color color9 #674839;
@define-color color10 #6e794f;
@define-color color11 #8d8150;
@define-color color12 #3b474e;
@define-color color13 #554c41;
@define-color color14 #495355;
@define-color color15 #abab9c;
