@import "./colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: Iconsolata;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @color0;
    color: @color7;
}

tooltip {
	background: @color7;
	color: @color0;
	}

tooltip label {
	color: @color0;
}

#keyboard-state, #pulseaudio, #system, #disk, #memory, #cpu, #network, #custom-notification, #clock {
	background-color: @color0;
	padding: 5px 15px;
	margin: 0px 0px;
}

#workspaces {
	background-color: @color4;
	border-radius: 7px 7px 7px 7px;
	padding: 7px 10px;
	margin: 0px 0px;
	margin-right: 10px;
}

#workspaces button {
    padding: 0px 20px;
    color: @color7;
}

#workspaces button.active {
    color: @color7;
    background-color: @color0;
    border-radius: 7px;
}

#workspaces button:hover {
	background-color: @color0;
	color: @color0;
	border-radius: 7px;
}

#system, #disk, #memory, #cpu, #network {
	background-color: @color0;
	color: @color1;
}

#disk {
	color: @color2;
}

#memory {
	color: @color3;
}

#cpu {
	color: @color4;
}

#network {
	color: @color5;
}

#clock {
    /* border-radius: 0px 7px 7px 0px; */
    margin-right: 10px;
}

