/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #1c2023 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c7ccd1; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c7ccd1; background-color: rgba(149,174,199,0.4)}
.cm-s-nqqwal { background-color: #1c2023; color: #c7ccd1; }
.cm-s-nqqwal span.cm-builtin { color: #95c7ae; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #747c84; }
.cm-s-nqqwal span.cm-keyword { color: #aec795; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #ae95c7; }
.cm-s-nqqwal span.cm-def { color: #c795ae; }
.cm-s-nqqwal span.cm-variable { color: #95aec7; }
.cm-s-nqqwal span.cm-variable-2 { color: #c795ae; }
.cm-s-nqqwal span.cm-string { color: #95c7ae; }
.cm-s-nqqwal span.cm-string-2 { color: #95c7ae; }
.cm-s-nqqwal span.cm-number { color: #c795ae; }
.cm-s-nqqwal span.cm-tag { color: #aec795; }
.cm-s-nqqwal span.cm-property { color: #95aec7; }
.cm-s-nqqwal span.cm-attribute { color: #95aec7; }
.cm-s-nqqwal span.cm-qualifier { color: #ae95c7; }
.cm-s-nqqwal span.cm-meta { color: #c795ae; }
.cm-s-nqqwal span.cm-header { color: #aec795; }
.cm-s-nqqwal span.cm-operator { color: #aec795; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(199,149,174,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #aec795; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1c2023); }
