@define-color foreground #80807e;
@define-color background #272a2a;
@define-color background-trans rgba(39,42,42,1.0);
@define-color cursor #eaeaed;

@define-color color0 #272a2a;
@define-color color1 #b05f5f;
@define-color color2 #b05f5f;
@define-color color3 #88aa55;
@define-color color4 #88aa55;
@define-color color5 #ccb05f;
@define-color color6 #ccb05f;
@define-color color7 #556973;
@define-color color8 #484c4e;
@define-color color9 #b05f5f;
@define-color color10 #b05f5f;
@define-color color11 #88aa55;
@define-color color12 #88aa55;
@define-color color13 #ccb05f;
@define-color color14 #ccb05f;
@define-color color15 #f6f7f8;
