/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #272a2a !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #80807e; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #80807e; background-color: rgba(204,176,95,0.4)}
.cm-s-nqqwal { background-color: #272a2a; color: #80807e; }
.cm-s-nqqwal span.cm-builtin { color: #b05f5f; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #484c4e; }
.cm-s-nqqwal span.cm-keyword { color: #88aa55; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #88aa55; }
.cm-s-nqqwal span.cm-def { color: #ccb05f; }
.cm-s-nqqwal span.cm-variable { color: #ccb05f; }
.cm-s-nqqwal span.cm-variable-2 { color: #ccb05f; }
.cm-s-nqqwal span.cm-string { color: #b05f5f; }
.cm-s-nqqwal span.cm-string-2 { color: #b05f5f; }
.cm-s-nqqwal span.cm-number { color: #ccb05f; }
.cm-s-nqqwal span.cm-tag { color: #88aa55; }
.cm-s-nqqwal span.cm-property { color: #ccb05f; }
.cm-s-nqqwal span.cm-attribute { color: #ccb05f; }
.cm-s-nqqwal span.cm-qualifier { color: #88aa55; }
.cm-s-nqqwal span.cm-meta { color: #ccb05f; }
.cm-s-nqqwal span.cm-header { color: #88aa55; }
.cm-s-nqqwal span.cm-operator { color: #88aa55; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(204,176,95,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #88aa55; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #272a2a); }
