@define-color foreground #c79e84;
@define-color background #272c30;
@define-color background-trans rgba(39,44,48,0.8);
@define-color cursor #cfb9a8;

@define-color color0 #272c30;
@define-color color1 #934e46;
@define-color color2 #637268;
@define-color color3 #c79e84;
@define-color color4 #515e67;
@define-color color5 #715f5e;
@define-color color6 #5c6f7d;
@define-color color7 #cfb9a8;
@define-color color8 #414a51;
@define-color color9 #934e46;
@define-color color10 #637268;
@define-color color11 #c79e84;
@define-color color12 #515e67;
@define-color color13 #715f5e;
@define-color color14 #5c6f7d;
@define-color color15 #ddcec2;
