/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #272725 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #bc9f67; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #bc9f67; background-color: rgba(74,94,91,0.4)}
.cm-s-nqqwal { background-color: #272725; color: #bc9f67; }
.cm-s-nqqwal span.cm-builtin { color: #959c4f; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #4f4f4b; }
.cm-s-nqqwal span.cm-keyword { color: #a78749; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #455563; }
.cm-s-nqqwal span.cm-def { color: #9f908d; }
.cm-s-nqqwal span.cm-variable { color: #4a5e5b; }
.cm-s-nqqwal span.cm-variable-2 { color: #9f908d; }
.cm-s-nqqwal span.cm-string { color: #959c4f; }
.cm-s-nqqwal span.cm-string-2 { color: #959c4f; }
.cm-s-nqqwal span.cm-number { color: #9f908d; }
.cm-s-nqqwal span.cm-tag { color: #a78749; }
.cm-s-nqqwal span.cm-property { color: #4a5e5b; }
.cm-s-nqqwal span.cm-attribute { color: #4a5e5b; }
.cm-s-nqqwal span.cm-qualifier { color: #455563; }
.cm-s-nqqwal span.cm-meta { color: #9f908d; }
.cm-s-nqqwal span.cm-header { color: #a78749; }
.cm-s-nqqwal span.cm-operator { color: #a78749; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(159,144,141,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #a78749; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #272725); }
