@define-color foreground #bc9f67;
@define-color background #272725;
@define-color background-trans rgba(39,39,37,1.0);
@define-color cursor #282826;

@define-color color0 #272725;
@define-color color1 #7d5151;
@define-color color2 #959c4f;
@define-color color3 #a78749;
@define-color color4 #455563;
@define-color color5 #9f908d;
@define-color color6 #4a5e5b;
@define-color color7 #f2f2f2;
@define-color color8 #4f4f4b;
@define-color color9 #7d5151;
@define-color color10 #959c4f;
@define-color color11 #a78749;
@define-color color12 #455563;
@define-color color13 #9f908d;
@define-color color14 #4a5e5b;
@define-color color15 #ffffff;
