/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #272c30 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c79e84; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c79e84; background-color: rgba(92,111,125,0.4)}
.cm-s-nqqwal { background-color: #272c30; color: #c79e84; }
.cm-s-nqqwal span.cm-builtin { color: #637268; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #414a51; }
.cm-s-nqqwal span.cm-keyword { color: #c79e84; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #515e67; }
.cm-s-nqqwal span.cm-def { color: #715f5e; }
.cm-s-nqqwal span.cm-variable { color: #5c6f7d; }
.cm-s-nqqwal span.cm-variable-2 { color: #715f5e; }
.cm-s-nqqwal span.cm-string { color: #637268; }
.cm-s-nqqwal span.cm-string-2 { color: #637268; }
.cm-s-nqqwal span.cm-number { color: #715f5e; }
.cm-s-nqqwal span.cm-tag { color: #c79e84; }
.cm-s-nqqwal span.cm-property { color: #5c6f7d; }
.cm-s-nqqwal span.cm-attribute { color: #5c6f7d; }
.cm-s-nqqwal span.cm-qualifier { color: #515e67; }
.cm-s-nqqwal span.cm-meta { color: #715f5e; }
.cm-s-nqqwal span.cm-header { color: #c79e84; }
.cm-s-nqqwal span.cm-operator { color: #c79e84; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(113,95,94,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #c79e84; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #272c30); }
